<#import "../layout/defaultLayout.ftl.html" as layout/>
<@layout.myLayout
title="Home page"
link=['css/xxx.css','css/aaa.css','css/bbb.css']
script=['js/xxx.js','js/aaa.js','js/bbb.js']
>
<h1>${i18n("hello.world")}</h1>

<p>${i18n("hello.world.json")}</p>
<a href="/hello_world.json">Hello World Json</a>

<p>中文怎么了?</p>
<script>
    $(function () {
        //由于nested的位置问题,这里写的js要使用$(function(){});,否认无法调用其他js文件中的内容.
        //大篇幅的js不推荐写到这个位置,单独整理成js文件,通过script参数引入.
        alert(11);
    });
</script>
</@layout.myLayout>